<app-navbar></app-navbar>



<section class="cards-style1">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-xl-4">
        <app-sidebar></app-sidebar>
      </div>

      <!-- Portefeuilles -->
      <div class="col-xl-8 order-box-1">
        <div class="cards-style1__content">
          <!-- Itération sur les portefeuilles -->
          <div class="row" *ngFor="let portefeuille of portefeuilles">
            <!-- Start Single Cards Box -->
            <div class="col-xl-12">
              <div class="single-cards-box">
                <div class="inner-title">
                  <h3><a href="#">Portefeuille : {{ portefeuille.devise }}</a></h3>
                </div>

                <div class="row align-items-center">
                  <!-- Colonne pour le solde actuel -->
                  <div class="col-8">
                    <div class="text-box">
                      <p>Solde Actuel : {{ portefeuille.balance }} {{ portefeuille.devise }}</p>
                    </div>
                  </div>

                </div>

                <!-- Ligne pour les trois boutons -->
                <div class="d-flex justify-content-between mt-3">
                  <a class="btn-one" href="" routerLink="/client/transfert_argent">
                    <span class="txt">
                      Transférer des fonds
                      <i class="icon-Vector"></i>
                    </span>
                  </a>
                  <a class="btn-one" (click)="activerPortefeuille(portefeuille)">
                    <span class="txt">
                      Activer
                      <i class="icon-Vector"></i>
                    </span>
                  </a>
                  <a class="btn-one" href="" routerLink="/client/alimenterPortefeuille/{{portefeuille.id}}/{{portefeuille.devise}}">
                    <span class="txt">
                      Alimenter
                      <i class="icon-Vector"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Single Cards Box -->
          </div>
          <div class="btn-box" style="text-align: right; width: 100%;">
            <a class="btn-one" href="/client/createPortefeuille">
              <span class="txt">
                Créer Un Portefeuille
                <i class="icon-Vector"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
