<section class="cards-style1">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <!-- Sidebar -->
            <div class="col-xl-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xl-8 order-box-1">
                <div class="cards-style1__content">
                    <div class="row">

                        <!--Start Single Cards Box-->
                        <div class="col-xl-12 col-lg-6 col-md-6">
                            <div class="call-back-form">
                                <div class="title">
                                    <h2>Send Your Request &<br>Get Call Back</h2>
                                </div>
                                <form id="call-back-form" name="call-back_form" class="default-form2" action="#" method="post">

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="form-group">
                                                <div class="label-box">
                                                    <label for="fname">Full name<span>*</span></label>
                                                </div>
                                                <div class="input-box">
                                                    <input type="text" name="fname" id="fname" placeholder="John William"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="form-group">
                                                <div class="label-box">
                                                    <label for="email">Email Address<span>*</span></label>
                                                </div>
                                                <div class="input-box">
                                                    <input type="email" name="email" id="email" placeholder="mail@bankcompany.com"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="form-group">
                                                <div class="label-box">
                                                    <label for="phone">Phone Number<span>*</span></label>
                                                </div>
                                                <div class="input-box">
                                                    <input type="text" name="phone" id="phone" placeholder="United States (+1)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="form-group">
                                                <div class="label-box">
                                                    <label for="address">Address<span>*</span></label>
                                                </div>
                                                <div class="input-box">
                                                    <div class="row">
                                                        <div class="col-xl-6">
                                                            <div class="select-box">
                                                                <select id="address" class="wide">
                                                                    <option data-display="City">City</option>
                                                                    <option value="1">New York</option>
                                                                    <option value="2">Los Angeles</option>
                                                                    <option value="3">Chicago</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="select-box">
                                                                <select class="wide">
                                                                    <option data-display="State">State</option>
                                                                    <option value="1">Alabama</option>
                                                                    <option value="2">California</option>
                                                                    <option value="3">Florida</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <div class="label-box">
                                                <label for="datepicker">Date<span>*</span></label>
                                            </div>
                                            <div class="input-box">
                                                <input type="text" name="date" placeholder="DD-MM-YYYY" id="datepicker">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="button-box">
                                                <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                        <span class="txt">
                                            Request Call Back
                                        </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <!--End Single Cards Box-->



                    </div>
                </div>
            </div>

        </div>
    </div>
</section>