<div id="loginForm" class="login-form-overlay">
  <div class="login-form-container">
    <div class="login-form-header">
      <h2>Connexion</h2>
      <span class="close-btn">&times;</span>
    </div>
    <!-- Liaison du formulaire avec [formGroup] -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Champ Nom d'utilisateur -->
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          type="text"
          id="username"
          formControlName="email"
          placeholder="Entrez votre nom d'utilisateur"
          class="form-control"
        />
        <!-- Message d'erreur pour le champ username -->
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          <small *ngIf="loginForm.get('email')?.hasError('required')">Le nom d'utilisateur est requis.</small>
        </div>
      </div>
      <!-- Champ Mot de passe -->
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Entrez votre mot de passe"
          class="form-control"
        />
        <!-- Message d'erreur pour le champ password -->
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          <small *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est requis.</small>
          <small *ngIf="loginForm.get('password')?.hasError('minlength')">
            Le mot de passe doit contenir au moins 6 caractères.
          </small>
        </div>
      </div>
      <!-- Boutons -->
      <div class="form-actions">
        <button type="submit" class="btn-one" [disabled]="loginForm.invalid">Se Connecter</button>
        <button type="button" class="btn-one btn-black" routerLink="/">Annuler</button>
      </div>
    </form>
  </div>
</div>
