<section class="about-style1">
    <div class="about-style1-bg jarallax" data-jarallax data-speed="0.1" data-imgPosition="0% 0%"
         style="background-image: url(assets/images/backgrounds/about-style1.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__img">
                    <div class="about-style1__img-inner">
                        <ul>
                            <li><span class="icon-refund-1"></span> Flexibilité</li>
                            <li><span class="icon-corporate-services"></span>Simplicité d'Utilisation</li>
                        </ul>
                        <div class="top-img-box">
                            <img src="assets/images/about/about-style1-1.jpg" alt="" />
                        </div>
                        <div class="bottom-img-box">
                            <img src="assets/images/about/about-style1-2.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <div class="border-line"></div>
                            <h4>À Propos de Bankati</h4>
                        </div>
<!--                        <h2>Building A More compact<br> our future Economy</h2>-->
                    </div>
                    <div class="about-style1__content-inner">
                        <div class="text">
                            <p>
                                Bankati est une application innovante conçue pour offrir une expérience bancaire numérique
                                moderne et accessible. Elle vise à simplifier la gestion financière des utilisateurs tout
                                en leur fournissant des outils performants pour effectuer leurs opérations bancaires en toute
                                sécurité et avec une grande flexibilité.


                            </p>
                        </div>
                        <ul class="clearfix">
                            <li>
                                <div class="icon">
                                    <span class="icon-checked1"></span>
                                </div>
                               Solutions Bancaires
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-checked1"></span>
                                </div>
                                Expertise Industrielle
                            </li>
                        </ul>
                        <div class="quote-box">
                            <p>
                                Bankati aspire à devenir un partenaire financier de confiance en mettant la technologie
                                au service de la banque et des utilisateurs. L'objectif est de simplifier les opérations
                                financières tout en permettant aux utilisateurs de maîtriser pleinement leurs finances.
                            </p>
                        </div>
                        <div class="btn-box">
                            <a class="btn-one" href="about.html">
                                        <span class="txt">
                                           Rejoignez Nous
                                            <i class="icon-Vector"></i>
                                        </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
