<section class="services-style2">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>Nous Offrons des Services Bancaires pour Tous</h4>
            </div>
            <h2>Fonctionnalités Clés De Bankati</h2>
        </div>
        <div class="row">
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="assets/images/shapes/round-dotted-shape-1.png" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-mobile-banking"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">Paiements Récurrents</a></h3>
                            <p>• Automatisez les paiements périodiques pour des abonnements, factures ou transferts programmés.</p>
                            <p>• Notifications avant chaque transaction pour un contrôle total .</p>
                        </div>

                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2 active">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="assets/images/shapes/round-dotted-shape-1.png" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-return-strategies"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">Gestion de Portefeuilles Multidevises</a></h3>
                            <p>• Gétion de plusieurs portefeuilles en différentes devises (MAD, USD, EUR).</p>
                            <p>• Conversion instantanée des montants grâce à des taux de change précis et actualisés.</p>

                        </div>

                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="assets/images/shapes/round-dotted-shape-1.png" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-saving-accounts"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">Cartes Virtuelles Sécurisées</a></h3>
                            <p>• Génération instantanée de cartes virtuelles pour des paiements en ligne sécurisés.</p>
                            <p>• Définition de limites de dépense, suivi en temps réel des transactions.</p>
                        </div>

                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
        </div>
    </div>
</section>
<!--End Services Style2-->
