

.portefeuilles-list {

    position: absolute;
    left: 100%; /* Position next to the "Mes Portefeuilles" link */
    top: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.portefeuilles-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.portefeuille-item {
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.portefeuille-item:last-child {
    border-bottom: none;
}

.portefeuille-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.sidebar {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.widget {
    margin-bottom: 20px;
}

.widget-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget-categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-categories ul li {
    margin-bottom: 10px;
}

.widget-categories ul li a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.widget-categories ul li a:hover {
    color: #007bff;
}

.widget-contact p {
    margin-bottom: 15px;
}

.btn-one {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-one:hover {
    background-color: #0056b3;
}
