<section class="cards-style1">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <!-- Sidebar -->
            <div class="col-xl-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xl-8 order-box-1">
                <div class="cards-style1__content">
                    <div class="row">

                        <!--Start Single Cards Box-->
                        <div class="col-xl-12 col-lg-6 col-md-6">
                            <div class="single-cards-box">
                                <div class="inner-title">
                                    <h3><a href="#">Portefeuille : {{devise}} </a></h3>
                                </div>

                                <div class="text-box">
                                    <p>Solde Actuel : {{balance}} {{devise}}</p>
<!--                                    <div class="features-benefits">-->
<!--                                        <h4>Features & Benefits</h4>-->
<!--                                        <ul>-->
<!--                                            <li>0% interest on joining or annual fees</li>-->
<!--                                            <li>Get categorized spending invoices</li>-->
<!--                                            <li>Multi shop rewards & hotel benefits</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>
                                <div class="btn-box">
                                    <a class="btn-one" href="" routerLink="/client/transfert_argent">
                                                <span class="txt">
                                                    Transférer des fonds
                                                    <i class="icon-Vector"></i>
                                                </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--End Single Cards Box-->



                    </div>
                </div>
            </div>

        </div>
    </div>
</section>